<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rows</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Sound</string>
			<key>Children</key>
			<array>
				<string>Alarm bell 1</string>
				<string>Alarm bell 2</string>
				<string>Piano beat</string>
				<string>Candy</string>
				<string>Birds</string>
				<string>Bells</string>
				<string>Antique</string>
				<string>A Mind of Its Own</string>
				<string>Blurred Atmospheres</string>
				<string>Hard as Nails</string>
				<string>High Action</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Label</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Repeat</string>
		</dict>
	</array>
</dict>
</plist>
