<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rows</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Sound</string>
			<key>Children</key>
			<array>
				<string>alarm 1</string>
				<string>alarm 2</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Label</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Repeat</string>
		</dict>
	</array>
</dict>
</plist>
